body {
    margin: 0;
    font-family: Arial;
    background: #f7f7f7;
    }

    #heading{
        height:10vh;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    #search{
        text-align: center;
        margin-bottom: 20px;
    }
    #search_box{
        height:40px;
        padding:8px;
        border-radius: 25px;
    }
    #search_btn{
        background-color: skyblue;
        width:124px;
        padding:12px;
       border:2px solid blue;
       font-weight: bold;
    }
    /* Tabs */
.tabs {
    display: flex;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 5;
    }
.tab {
    padding: 15px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    }
.tab.active {
    border-bottom: 3px solid #007BFF;
    color: #007BFF;
    }

    /* Cards */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
    }
.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
    }
.card:hover {
    transform: translateY(-5px);
    }
    img{
        width:200px;
        height:auto;
        object-fit: cover;
    }


    /* Modal */
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none; /* show with display:flex */
        justify-content: center;
        align-items: center;
        z-index: 9999; /* keeps modal above everything */
    }
    
    /* Scrollable modal box */
    .modal-content {
        background: white;
        max-height: 80vh;     /* limits height */
        width: 90%;
        max-width: 400px;
        padding: 20px;
        border-radius: 10px;
        overflow-y: auto;     /* vertical scroll inside modal box */
    }
    

/* Scrollable modal box */
.modal-content {
    background: white;
    max-height: 80vh;     /* limits height */
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;     /* vertical scroll inside modal box */
}

.modal-content {
    background: white;
    width: 90%;
    max-width: 450px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    }
.close {
    position: absolute;
    top: 10px; right: 10px;
    cursor: pointer;
    font-size: 20px;
    }
img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    }
 