body{
    margin:0;
    box-sizing: border-box;
 
}

header{
    background-color: lightgreen;
    margin-top: -30px;
}

header h1{
    text-align: center;
    color:white;
    padding:20px;
}

.langs{
    margin-right: 20px;
    padding:20px;
    font-weight: bold;
    color:white;
}